body 
{
  background-color: Thistle;

}

h1
{
   text-align:center; 
}

h2{
  color:slateBlue;
   text-align:center; 
}

h3{
  color: LightCoral;
   text-align:center; 
} 

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#first{
   width:50%;
  display: block;
  mangin: 0 auto;
}
